<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dashboard Generator</h1>
    {{{body}}}
    <script src="/javascripts/dist/app.js"></script>
  </body>
</html>
